/* 
 * 0.-Misc
 *  0.1.-Import - Reset
 *  0.2.-Variables
 *  0.3.-Funciones
 * 1.-Principal
 * 20.-Global
 * 21.-Custom
 * 22.-MediaQueries
 */

/*------------------------- 0.-Misc --------------------*/  
/*------------------------- 0.1.-Import - Reset --------------------*/
@import 'nib'
/*@import url('http://fonts.googleapis.com/css?family=Quicksand')*/
/*global-reset()*/

/*------------------------- 0.2.-Variables --------------------*/
main-color = #fa5b4d

/*------------------------- 0.3.-Funciones --------------------*/
bcolor(t = 0.1, r = 59, g = 89, b = 152)
  background-color rgba(r, g, b, t) !important
borde(color = #F00)
  border 1px solid color !important
t-sombra(color = #222)
  text-shadow 2px 2px 1px color
sombra(color = #222)
  box-shadow 3px 3px 10px color

/*------------------------- 1.-Principal --------------------*/

/*------------------------- 20.-Global --------------------*/

/*------------------------- 21.-Custom --------------------*/

/*------------------------- 22.-MediaQueries --------------------*/
