/* 
 * 0.-Misc
 *  0.1.-Import - Reset
 *  0.2.-Variables
 *  0.3.-Funciones
 * 1.-Principal
 * 20.-Global
 * 21.-Custom
 * 22.-MediaQueries
 */
/*------------------------- 0.-Misc --------------------*/
/*------------------------- 0.1.-Import - Reset --------------------*/
/*@import url('http://fonts.googleapis.com/css?family=Quicksand')*/
/*global-reset()*/
/*------------------------- 0.2.-Variables --------------------*/
/*------------------------- 0.3.-Funciones --------------------*/
/*------------------------- 1.-Principal --------------------*/
/*------------------------- 20.-Global --------------------*/
/*------------------------- 21.-Custom --------------------*/
button.alert {
  background-color: #bf1c2d;
}
.fa {
  cursor: pointer;
}
.row.special {
  max-width: 90%;
}
small.error {
  background-color: #bf1c2d !important;
}
table td.icons {
  padding: 0 !important;
  text-align: center;
  width: 50px;
}
.tt-dropdown-menu {
  margin-top: -10px;
}
.twitter-typeahead {
  display: block;
  width: 100%;
}
/*------------------------- 22.-MediaQueries --------------------*/
